<div class="faq-search">
  <h2>FAQ Ultimate Sports</h2>
  <form>
    <input
      type="text"
      placeholder="Rechercher une question..."
      [(ngModel)]="searchQuery"
      name="searchQuery"
      (ngModelChange)="filterQuestions()"
    />
    <button type="button">Rechercher</button>
  </form>
  <p>ou choisissez une catégorie pour trouver rapidement l'aide dont vous avez besoin</p>
</div>

<div class="faq-area">
  <div class="tab faq-accordion-tab">
    <!-- Tabs -->
    <ul class="tabs">
      <li *ngFor="let tab of filteredTabs; let i = index">
        <a (click)="selectTab(i)" [ngClass]="{ active: selectedTab === i }">
          {{ tab.title }}
        </a>
      </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab_content">
      <div
        class="tabs_item"
        *ngFor="let tab of filteredTabs; let i = index"
        [ngClass]="{ active: selectedTab === i }"
      >
        <div class="title">
          <h2>{{ tab.title }}</h2>
          <p>{{ tab.description }}</p>
        </div>
        <div class="faq-accordion">
          <ul class="accordion">
            <li class="accordion-item" *ngFor="let item of tab.items">
              <a
                class="accordion-title"
                [ngClass]="{ active: item.isOpen }"
                (click)="toggleAccordion(item)"
              >
                <span class="icon" [ngClass]="item.isOpen ? 'icon-minus' : 'icon-plus'"></span>
                <span class="question">{{ item.question }}</span>
              </a>
              <p class="accordion-content" [ngClass]="{ show: item.isOpen }">
                {{ item.answer }}
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
