.table-borderless td {
  padding: 0.75rem 0;
}

h4 {
  font-size: 1.4rem;
  color: #222;
}

.text-success {
  font-size: 1.1rem;
}

.border {
  border-color: #eaeaea !important;
}

.bg-white {
  background-color: #ffffff;
}
