<div class="not-authorized-area bg-image">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="not-authorized-content">
        <a>
          <img src="assets/images/logo rouge.png" alt="image" width="250">
        </a>
        <h2>Accès non autorisé !</h2>
        <p>Vous n’êtes pas autorisé à accéder à cette page web conformément aux règles de sécurité.</p>


        <a routerLink="/login" class="default-btn">Acceder à la page de connexion</a>
      </div>
    </div>
  </div>
</div>
