<nav 
  class="navbar navbar-expand-lg navbar-light shadow-sm fixed-top border-bottom"
  [ngClass]="{ 'navbar-store': isStoreRoute }"
>
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center me-5" routerLink="/">
      <img src="/assets/images/logo.png" alt="Sports Center" width="170" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Menu principal -->
      <ul class="navbar-nav me-auto align-items-center">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/">
            <i class="fa fa-home"></i> Home
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/store">
            <i class="fa fa-th-list"></i> Store
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/complaint">
            <i class="fa fa-envelope"></i> Complaint
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/faq">
            <i class="fa fa-question-circle"></i> FAQ
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/about-us">
            <i class="fa fa-info-circle"></i> About Us
          </a>
        </li>
      </ul>

      <!-- User / Basket -->
      <ul class="navbar-nav ms-auto align-items-center">
        <!-- Basket -->
        <li class="nav-item me-3" routerLinkActive="active" *ngIf="(currentUser$ | async) !== null">
          <a class="nav-link position-relative" routerLink="/basket">
            <i class="fa fa-shopping-cart fa-lg"></i>
            <span
              class="cart-badge"
              *ngIf="(basketService.basketSource$ | async) as basket"
              [hidden]="!basket.items.length"
            >
              {{ getItemsCount(basket.items) }}
            </span>
          </a>
        </li>

        <!-- Login / Register -->
        <ng-container *ngIf="(currentUser$ | async) === null">
          <li class="nav-item me-2">
            <a class="nav-link" routerLink="/account/login" title="Login">
              <i class="fa fa-sign-in fa-lg"></i>
            </a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link" routerLink="/account/register" title="Sign Up">
              <i class="fa fa-user-plus fa-lg"></i>
            </a>
          </li>
        </ng-container>

        <!-- User connecté -->
        <ng-container *ngIf="(currentUser$ | async) as user">
          <li class="nav-item me-3">
            <a class="nav-link" routerLink="/account/profile">
              <i class="fa fa-user-circle fa-lg"></i> {{ user.username }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">
              <i class="fa fa-sign-out fa-lg"></i>
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
