table {
  th,
  td {
    vertical-align: middle;
  }

  th {
    font-weight: 600;
    color: #444;
  }

  tbody tr:hover {
    background-color: #f9f9f9;
  }

  img.rounded {
    border-radius: 8px;
  }
}

h3 {
  color: #222;
}

.btn-dark {
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.3s;
  border-radius: 6px;

  &:hover {
    background-color: #000;
  }
}
