<div class="charts-grid-2x2">
  <div class="chart-card">
    <h3>Ventes mensuelles</h3>
    <app-monthly-sales-chart></app-monthly-sales-chart>
  </div>

  <div class="chart-card">
    <h3>Ventes quotidiennes</h3>
    <app-daily-sales-chart></app-daily-sales-chart>
  </div>

  <div class="chart-card">
    <h3>Produits les plus vendus</h3>
    <app-best-products-chart></app-best-products-chart>
  </div>

  <div class="chart-card">
    <h3>Catégories populaires</h3>
    <app-popular-categories-chart></app-popular-categories-chart>
  </div>

  <div class="chart-card">
    <h3>Marques populaires</h3>
    <app-top-brands-chart></app-top-brands-chart>
  </div>
</div>
